*{margin: 0; padding: 0; color: white;}
.container {
    background-image: url("img/bgimg_coding.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.header,
.main,
.footer {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main {
    top: 0;
    /* height: 20%; */
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
}
@keyframes textFill {
    0% {
        background-clip: text;
        color: #333;
    }

    100% {
        background-clip: text;
        color: #fff;
    }
}

.main #main1 {
    margin-top: 50px;
    font-size: 36px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #fff, #fff);
    /* 배경 색상 */
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: textFill 2s infinite alternate;
}
.main #main2{
    margin: 15px;
}
.main #main3{
    margin-bottom: 50px;
}
.headerMenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.headerMenu ul{
    margin: 20px 0;
    text-align: right;
    font-size: 2.5rem;
}
.headerMenu a{
    text-decoration: none;
}
.headerMenu a:hover{
    font-weight: bold;
    color: #fff;
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
        animation: neon 3.0s infinite alternate;
}
@keyframes neon {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #ff00de, 0 0 80px #ff00de, 0 0 90px #ff00de, 0 0 110px #ff00de, 0 0 170px #ff00de;
    }
}
.header {
    top:55%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row;
    justify-content: right;
    right: 10%;
}

.footer {
    bottom: 0;
    height: 10%;
    background-color: rgba(0, 0, 0, 0.6);
}
