.banner {
    height: 200px;
}

.bannerWrap {
    margin-top: 100px;
}

.banner #banner2 {
    margin: 15px;
}

.banner #banner3 {
    margin-bottom: 20px;
}

.headerMenu li {
    margin: 20px 0;
    text-align: right;
    font-size: 2.5rem;
    list-style: none;
}

.headerMenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform 0.5s ease-in-out;
}

.headerMenu a{
    text-decoration: none;
}

.headerMenu a:hover{
    font-weight: 900;
    color: #fff;
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
        animation: neon 3.0s infinite alternate;
}
@keyframes neon {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #ff00de, 0 0 80px #ff00de, 0 0 90px #ff00de, 0 0 110px #ff00de, 0 0 170px #ff00de;
    }
}
.header {
margin-top: 200px;
height: calc(100vh - 300px);
display: flex;
flex-direction: column;
justify-content: center;
position: relative;
padding-right: 10%;
}

/* CONTACT */
.contact {
    position: absolute;
    top: 30%;
    opacity: 0;
    display: none;
    flex-direction: column;
    align-items: baseline;
    width: 800px;
    height: 400px;
    margin-left: 500px;
    border-radius: 10px;
    padding: 80px 150px 50px;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.6);
    transition: opacity 2s ease-in-out;
}
.contact.show {
    opacity: 1;
}
.contactWrap p {
    margin-bottom: 40px;
}
.contactWrap i {
    margin-right: 20px;
    font-size: 30px;
}
.contacWrap a {
    text-decoration: none;
}
#contactTitle{
    font-weight: 900;
    font-size: 2.5rem;
    letter-spacing: 10px;
    border-bottom: 1px solid #fff;
    margin-bottom: 70px;
}

#contactTitle_git,
#contactTitle_email,
#contactTitle_comment {
    display: inline-block;
    width: 120px;
    margin-right: 30px;
    text-align: right;
}
.contactWrap p{
    display: flex;
    align-items: first baseline;
}

/* contact 클릭 : 메뉴이동과 콘택트 창 */

.headerMenu {
    transition: transform 1.5s ease-in-out;
    transform: translateX(0);
    position: relative;
    
}

.headerMenu.moveOut {
    transform: translateX(-1300px);
}

#gitBlog , #emailAddress {
    text-decoration: none;
}

#gitBlog:hover, #emailAddress:hover{
    color: aquamarine;
}