.header,
.banner,
.footer {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.headerMenu li {
    text-align: center;
    font-size: 1.5rem;
    list-style: none;
}

.headerMenu{
    position: relative;
    z-index: 500;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 140px;
    width: 800px;
}

.mainContainer{
    overflow-y: scroll;
}

/* aboutMe 본문 */
.aboutMe{
    padding-top: 200px;
}
.aboutMeWrap{
    position: relative;
    line-height: 30px;
    padding-top: 200px;
}
.aboutMeWrap #aboutMeTitle{
    font-weight: 900;
    font-size: 2.5rem;
    letter-spacing: 10px;
    border-bottom: 1px solid #fff;
    margin-bottom: 50px;
    padding-bottom: 10px;
}
#Lv_1{
    color: aquamarine;
    font-weight: 900;
}

/* skill 본문 */
.skill{
    height: auto;
}
.skillWrap {
    line-height: 30px;
}

.skillWrap #skillTitle {
    font-weight: 900;
    font-size: 2.5rem;
    letter-spacing: 10px;
    border-bottom: 1px solid #fff;
    margin-bottom: 50px;
    padding-bottom: 10px;
}

/* project */
.project{
    height: auto;
}
.projectWrap{
    margin-bottom: 100px;
    padding-bottom: 100px;
}
.projectWrap #projectTitle{
    font-weight: 900;
    font-size: 2.5rem;
    letter-spacing: 10px;
    border-bottom: 1px solid #fff;
    margin-bottom: 50px;
    padding-bottom: 10px;
}
.projectWrap .projectSort{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.projectWrap .projectSort .hama, .toy, .app{
    border: 1px solid #fff;
    width: 400px;
    height: 300px;
    border-radius: 10px;
}
.hameWrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}
.hama{
    background-image: url(/assets/img/hama.PNG);
    background-size: cover;
    margin-bottom: 10px;
}
.hameWrap p:hover{
    color: aquamarine;
}
