* {
    margin: 0;
    padding: 0;
    color: white;
}

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'S-CoreDream-3Light', sans-serif;
}

.container {
    background-image: url("/assets/img/bgimg_coding.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.footer {
    bottom: 0;
    height: 10%;
    background-color: rgba(0, 0, 0, 0.6);
}