.header,
.footer {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner {
    top: 0;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@keyframes textFill {
    0% {
        background-clip: text;
        color: #333;
    }

    100% {
        background-clip: text;
        color: #fff;
    }
}

.headerMenu {
    position: relative;
    z-index: 500;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 140px;
    width: 800px;
}

.skillWrap {
    width: 90%;
    height: 555px;
    overflow-y: scroll;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    position: relative;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 30px;
}

.skillWrap #skillTitle {
    font-weight: 900;
    font-size: 2.5rem;
    letter-spacing: 10px;
    border-bottom: 1px solid #fff;
    margin-bottom: 50px;
    padding-bottom: 10px;
}

.skill{
    margin-bottom: 20px;
}