/* 프로젝트 배너 */
.ToyContainer {
    /* position: absolute; */
    width: 100vw;
    height: 100vh;
}

.ToyContainer::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("/assets/img/toy_bgimg.jpg");
    background-size: cover;
    filter: brightness(0.6);
    /* 배경 이미지의 밝기 조절 (선택사항) */
}
.banner2 {
    /* position: relative; */
    /* top: 50px; */
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.banner2 {
    font-weight: bolder;
    margin-right: 50px;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.9);
}

.headerMenu li {
    font-size: 1.5rem;
    text-align: center;
    list-style: none;
}

.headerMenu {
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 800px;
}

/* Toy Project 메인화면 */
.toyProject{
    margin-top: 200PX;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toyProject a{text-decoration: none;}

.button{
    width: 100px;
    height: 100px;
    cursor: pointer;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
}


.btn_back img, .btn_galaga img{
    width: 100px;
    height: 100px;
}
.btn_back, .btn_galaga{
    animation: moving 3s infinite;
}
@keyframes moving {
    0% {
            transform: translateY(0);
        }
    
    50% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(0);
    }
    }

#construction {
    width: 100px;
    height: auto;
}

#UC {
    font-size: 1rem;
}